<div class="card" style="width: 16rem; background-color:#F2F2F2;">
    <div class="sidebar">
    <!-- User Profile Section     -->
      <div class="profile-section" style="display:flex; margin-right:50px;">
        <div class="user-profile">
          <img src="#">
        </div>
        <div class="container">
          <div class="user-info">
            <h5><a href="{% url 'user_profile' %}" style="color:black; text-decoration: none;">{{ user.name }}</a></h5>
            <p>{{ user.email }}</p>
          </div>
        </div>
      </div>

  <!-- MENU Section -->
  <div class="menu-section">
    <div class="section-title">MENU</div>
    <ul class="menu-list">
      <li class="menu-item active">
        <span class="icon"><i class="fa-brands fa-airbnb"></i></span>
        <span class="item-text">Dashboard</span>
      </li>
      <li class="menu-item">
        <span class="icon"><i class="fa-solid fa-list-check"></i></span>
        <span class="item-text">Tasks</span>
      </li>
      <li class="menu-item">
        <span class="icon"><i class="fa-regular fa-calendar"></i></span>
        <span class="item-text">Calendar</span>
      </li>
      <li class="menu-item">
        <span class="icon"><i class="fa-regular fa-chart-bar"></i></span>
        <span class="item-text">Analytics</span>
      </li>
    </ul>
  </div>
  <!-- GENERAL Section -->
  <div class="menu-section">
    <div class="section-title">GENERAL</div>
    <ul class="menu-list">
      <li class="menu-item">
        <span class="icon"><i class="fa-solid fa-sliders"></i></span>
        <span class="item-text">Settings</span>
      </li>
      <li class="menu-item">
        <span class="icon"><i class="fa-solid fa-question"></i></span>
        <span class="item-text">Help</span>
      </li>
      <li class="menu-item">
        <span class="icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
        <span class="item-text">Logout</span>
      </li>
    </ul>
  </div>
</div>
</div>